@model ETicket.ApplicationServices.DTOs.TicketTypeDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ticket type</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Coefficient)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Coefficient)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPersonal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPersonal)
        </dd>
        
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="javascript:history.back()">Back</a> |
    <a asp-action="Index">Back to Ticket Type table</a>
</div>