@model IEnumerable<DBContextLibrary.Domain.Entities.TicketType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Ticket Types</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@using (Html.BeginForm())
{
    <p>
        Search: @Html.TextBox("SearchString")  
        <input type="submit" value="Search" /></p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TypeName)
            </th>
            <th>
                @Html.ActionLink("Price", "Index", new { sortBy = "Price", sortDirection = ViewBag.SortDirection })
            </th>
            <th>
                @Html.ActionLink("IsPersonal", "Index", new { sortBy = "IsPersonal", sortDirection = ViewBag.SortDirection })
            </th>
            <th>
                @Html.ActionLink("DurationHours", "Index", new { sortBy = "DurationHours", sortDirection = ViewBag.SortDirection })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPersonal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationHours)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>