@model ETicket.ApplicationServices.DTOs.TransportDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transport</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Carrier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Carrier)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Route)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Route)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
