@model IEnumerable<DBContextLibrary.Domain.Entities.TransactionHistory>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("TotalPrice", "Index", new { sortBy = "TotalPrice", sortDirection = ViewBag.SortDirection })
            </th>
            <th>
                @Html.ActionLink("Date", "Index", new { sortBy = "Date", sortDirection = ViewBag.SortDirection })
            </th>
            <th>
                @Html.ActionLink("TicketType", "Index", new { sortBy = "TicketType", sortDirection = ViewBag.SortDirection })
            </th>
            <th>
                @Html.ActionLink("Count", "Index", new { sortBy = "Count", sortDirection = ViewBag.SortDirection })
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TicketType.TypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Count)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>