@model IEnumerable<ETicket.ApplicationServices.DTOs.TransactionHistoryDto>

@{
    ViewData["Title"] = "Index";
}

<link href="~/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/trans-style.css" rel="stylesheet">
<link href="~/css/ButtonMoves/moved-data-table-controls.css" rel="stylesheet"/>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transaction history</h6>
        </div>
        <div class="card-body transactions">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                    <tr>
                        <th>
                            <details onclick="makeSingleOnClickEvent()">
                                <summary>
                                    @Html.DisplayName("Total Price")
                                </summary>
                                <input type="text" class="document-filter-form form-control form-control-sm" id="total-price-input">
                            </details>
                        </th>
                        <th>
                            <details onclick="makeSingleOnClickEvent()">
                                <summary>
                                    @Html.DisplayName("Date")
                                </summary>
                                <input type="date" id="date-datepicker" class="document-filter-form form-control form-control-sm">
                            </details>
                        </th>
                        <th>
                            <details onclick="makeSingleOnClickEvent()">
                                <summary>
                                    @Html.DisplayName("Reference number")
                                </summary>
                                <input type="text" class="document-filter-form form-control form-control-sm" id="reference-number-input">
                            </details>
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </thead>
                    <tfoot>
                    <tr>
                        <th>
                            @Html.DisplayName("Total Price")
                        </th>
                        <th>
                            @Html.DisplayName("Date")
                        </th>
                        <th>
                            @Html.DisplayName("Reference number")
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                    </tfoot>
                    <tbody>
                    @if (Model != null)
                    {
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @(item.TotalPrice + " ₴")
                                </td>

                                <td>
                                    @item.Date.ToString("yyyy-MM-dd hh:mm:ss")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ReferenceNumber)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/data-table-trans-filters.js"></script>
<script src="~/js/button-create-moves/button-create-move.js"></script>