@model IEnumerable<DBContextLibrary.Domain.Entities.TransactionHistory>

@{
    ViewData["Title"] = "Index";
}

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Transaction history</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayName("TotalPrice")
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayName("TicketType")
                            </th>
                            <th>
                                @Html.DisplayName("Count")
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayName("TotalPrice")
                            </th>
                            <th>
                                @Html.DisplayName("Date")
                            </th>
                            <th>
                                @Html.DisplayName("TicketType")
                            </th>
                            <th>
                                @Html.DisplayName("Count")
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TotalPrice)
                                </td>

                                <td>
                                    @item.Date.ToString("yyyy-MM-dd hh:mm:ss")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.TicketType.TypeName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Count)
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/datatables-starter.js"></script>
<br />