@model ETicket.DataAccess.Domain.Entities.TicketVerification

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TicketVerification</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerificationUTCDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerificationUTCDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Station)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Station.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transport.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsVerified)
        </dt>
        <dd class="col-sm-10">
            @(Model.IsVerified ? "Yes" : "No")
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
