@model ETicket.ApplicationServices.DTOs.UserDto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details User</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10">
            @(Model.DateOfBirth.ToString("yyyy-MM-dd"))
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PrivilegeName)
        </dt>
        <dd class="col-sm-10">
            @if (Model.PrivilegeName == null)
            {
                @Html.DisplayFor(modelItem => Model.PrivilegeName)
            }
            else
            {
                @Html.ActionLink(Model.PrivilegeName, "Details", "Privileges", new { id = Model.PrivilegeId }, null)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentNumber)
        </dt>
        <dd class="col-sm-10">
            @if (Model.DocumentNumber == null)
            {
                @Html.DisplayFor(modelItem => Model.DocumentNumber)
            }
            else
            {
                @Html.ActionLink(Model.DocumentNumber, "Details", "Documents", new { id = Model.DocumentId }, null)
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="javascript:history.back()">Back</a> |
    <a asp-action="Index">Back to User table</a>
</div>
