@model IEnumerable<ETicket.ApplicationServices.DTOs.UserDto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/ButtonMoves/moved-data-table-controls.css" rel="stylesheet" />
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/user-style.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            <div>
                <div id="buttonCreate" class="button_create">
                    <a asp-action="Create" class="btn btn-success btn-sm">Create</a>
                </div>
            </div>
        </div>

        <div class="card-body users">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </summary>
                                    <input type="text" class="document-filter-form  form-control form-control-sm" id="first-name-input">
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </summary>
                                    <input type="text" class="document-filter-form  form-control form-control-sm" id="last-name-input">
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.DateOfBirth)
                                    </summary>
                                    <input type="date" id="date-birth-datepicker" class="document-filter-form form-control form-control-sm">
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.PrivilegeName)
                                    </summary>
                                    @Html.DropDownList("privilege-select", ViewData["PrivilegeId"] as IEnumerable<SelectListItem>, "", new { @class = "document-filter-form custom-select custom-select-sm form-control form-control-sm" })
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.DocumentNumber)
                                    </summary>
                                    <input type="text" class="document-filter-form  form-control form-control-sm" id="document-input">
                                </details>
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.PrivilegeName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DocumentNumber)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @item.DateOfBirth.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @if (item.PrivilegeName == null)
                                        {
                                            @Html.DisplayFor(modelItem => item.PrivilegeName)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.PrivilegeName, "Details", "Privileges", new { id = item.PrivilegeId }, null)
                                        }

                                    </td>
                                    <td>
                                        @if (item.DocumentNumber == null)
                                        {
                                            @Html.DisplayFor(modelItem => item.DocumentNumber)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.DocumentNumber, "Details", "Documents", new { id = item.DocumentId }, null)
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                        @if (item.Email != null)
                                        {
                                            <a asp-action="SendMessage" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Notify</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<script src="~/js/user-script.js"></script>*@
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/data-table-users-filters.js"></script>
<script src="~/js/button-create-moves/button-create-move.js"></script>