@model IEnumerable<ETicket.DataAccess.Domain.Entities.User>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/ButtonMoves/moved-data-table-controls.css" rel="stylesheet" />
<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/user-style.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Users</h6>
            <div>
                <div id="buttonCreate" class="button_create">
                    <a asp-action="Create" class="btn btn-success btn-sm">Create</a>
                </div>
            </div>
        </div>

        <div class="card-body users">
            @*<div class="filters">
                    <details>
                        <summary>Filters</summary>
                        <table border="0" class="filter-table">
                            <tr>
                                <th>First name:</th>
                                <th>
                                    <input type="text" class="user-filter-form form-control form-control-sm" id="first-name-input">
                                </th>
                            </tr>
                            <tr>
                                <th>Last name:</th>
                                <th>
                                    <input type="text" class="user-filter-form form-control form-control-sm" id="last-name-input">
                                </th>
                            </tr>
                            <tr>
                                <th>Privilege:</th>
                                <th>
                                    @Html.DropDownList("privilege-select", ViewData["PrivilegeId"] as IEnumerable<SelectListItem>, "", new { @class = "user-filter-form custom-select custom-select-sm form-control form-control-sm" })
                                </th>
                            </tr>
                            <tr>
                                <th>Document:</th>
                                <th>
                                    <input type="text" class="user-filter-form form-control form-control-sm" id="document-input">
                                </th>
                            </tr>
                        </table>

                    </details>
                    <p></p>
                </div>*@
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </summary>
                                    <input type="text" class="document-filter-form  form-control form-control-sm" id="first-name-input">
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </summary>
                                    <input type="text" class="document-filter-form  form-control form-control-sm" id="last-name-input">
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.DateOfBirth)
                                    </summary>
                                    <input type="text" id="date-birth-datepicker" class="document-filter-form form-control form-control-sm">
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.Privilege)
                                    </summary>
                                    @Html.DropDownList("privilege-select", ViewData["PrivilegeId"] as IEnumerable<SelectListItem>, "", new { @class = "document-filter-form custom-select custom-select-sm form-control form-control-sm" })
                                </details>
                            </th>
                            <th>
                                <details onclick="makeSingleOnClickEvent()">
                                    <summary>
                                        @Html.DisplayNameFor(model => model.Document)
                                    </summary>
                                    <input type="text" class="document-filter-form  form-control form-control-sm" id="document-input">
                                </details>
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.DateOfBirth)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Privilege)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Document)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FirstName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.LastName)
                                    </td>
                                    <td>
                                        @item.DateOfBirth.ToString("yyyy-MM-dd")
                                    </td>
                                    <td>
                                        @if (item.Privilege == null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Privilege.Name)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.Privilege.Name, "Details", "Privileges", new { id = item.PrivilegeId }, null)
                                        }

                                    </td>
                                    <td>
                                        @if (item.Document == null)
                                        {
                                            @Html.DisplayFor(modelItem => item.Document.Number)
                                        }
                                        else
                                        {
                                            @Html.ActionLink(item.Document.Number, "Details", "Documents", new { id = item.DocumentId }, null)
                                        }
                                    </td>
                                    <td>
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                        @if (item.Email != null)
                                        {
                                            <a asp-action="SendMessage" asp-route-id="@item.Id" class="btn btn-primary btn-sm">Notify</a>
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@*<script src="~/js/user-script.js"></script>*@
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/data-table-users-filters.js"></script>
<script src="~/js/button-create-moves/button-create-move.js"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
    $(function () {
        $("#date-birth-datepicker").datepicker({
            dateFormat: "dd.mm.yy"
        });
    });

    function makeSingleOnClickEvent(e) {
        if (!e) {
            var e = window.event;
        }
        e.cancelBubble = true;
        if (e.stopPropagation) {
            e.stopPropagation();
        }
    }
</script>