@model ETicket.ApplicationServices.DTOs.RouteDto
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete the Route?</h3>
<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class="col-sm-2">
            <label> Route Stations</label>
        </dt>
        <dd class="col-sm-10">
            <ol style="column-count: 3">
                <li>@Html.ActionLink(@Model.FirstStationName, "Details", "Station", new { id = @Model.FirstStationId }) </li>
                @foreach (var station in Model.StationNames)
                {
                    <li>@Html.ActionLink(station, "Details", "Station", new { id = station }, null) </li>
                }
                <li>@Html.ActionLink(@Model.LastStationName, "Details", "Station", new { id = @Model.LastStationId }) </li>
            </ol>
        </dd>
    </dl>    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
