@model ETicket.DataAccess.Domain.Entities.Route

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Route</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstStationId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastStationId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastStationId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a href="javascript:history.back()">Back</a>
    <a asp-action="Index">Back to Route List</a>
</div>
