@model ETicket.ApplicationServices.DTOs.TicketDto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(@Model.TicketTypeName, "Details", "TicketType", new { id = @Model.TicketTypeId }, null)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedUTCDate)
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedUTCDate.ToString("yyyy-MM-dd hh:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ActivatedUTCDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ActivatedUTCDate?.ToString("yyyy-MM-dd hh:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationUTCDate)
        </dt>
        <dd class="col-sm-10">
            @Model.ExpirationUTCDate?.ToString("yyyy-MM-dd hh:mm")
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Areas)
        </dt>
        <dd class="col-sm-10">
            @foreach (var area in Model.Areas)
            {
                @Html.ActionLink(@area.Value, "Details", "Areas", new { id = area.Key }, null);<text>&nbsp;</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class="col-sm-10">
            @if (@Model.UserId != null)
            {
                @Html.ActionLink(@Model.UserName, "Details", "User", new { id = @Model.UserId }, null)
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionRRN)
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink(@Model.TransactionRRN, "Details", "TransactionHistory", new { id = @Model.TransactionHistoryId }, null)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a href="javascript:history.back()">Back</a> |
    <a asp-action="Index">Back to Ticket table</a>
</div>
