@model IEnumerable<DBContextLibrary.Domain.Entities.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedUTCDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActivatedUTCDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpirationUTCDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th>
                                <a asp-action="Create" class="btn btn-success btn-sm">Create</a>
                            </th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.TicketType)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.CreatedUTCDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ActivatedUTCDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.ExpirationUTCDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.User)
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.ActionLink(item.TicketType.TypeName, "Details", "TicketType", new { id = item.TicketTypeId }, null)
                                </td>
                                <td>
                                    @item.CreatedUTCDate.ToString("yyyy-MM-dd hh:mm")
                                </td>
                                <td>
                                    @item.CreatedUTCDate.ToString("yyyy-MM-dd hh:mm")
                                </td>
                                <td>
                                    @item.CreatedUTCDate.ToString("yyyy-MM-dd hh:mm")
                                </td>
                                <td>
                                    @if (item.User == null)
                                        @Html.DisplayFor(modelItem => item.User.FirstName)
                                    else
                                        @Html.ActionLink(item.User.FirstName, "Details", "User", new { id = item.UserId }, null)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="/js/datatables-starter.js"></script>
