@model IEnumerable<ETicket.ApplicationServices.DTOs.TicketDto>

@{
    ViewData["Title"] = "Tickets";
}

<link href="/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
<link href="~/css/ButtonMoves/moved-data-table-controls.css" rel="stylesheet" />
<link href="~/css/document-style.css" rel="stylesheet" />

<div class="container-fluid">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Tickets</h6>
            <div>
                <div id="buttonCreate" class="button_create">
                    <a asp-action="Create" class="btn btn-success btn-sm">Create</a>
                </div>
            </div>
        </div>
        <div class="card-body tickets">
            <div class="filters">
                <p></p>
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>
                                    <details onclick="makeSingleOnClickEvent()">
                                        <summary>
                                            @Html.DisplayNameFor(model => model.TicketTypeName)
                                        </summary>
                                        @Html.DropDownList("ticket-type-select", ViewData["TicketTypeId"] as IEnumerable<SelectListItem>, "", new { @class = "ticket-filter-form custom-select custom-select-sm form-control form-control-sm" })
                                    </details>
                                </th>
                                <th>
                                    <details onclick="makeSingleOnClickEvent()">
                                        <summary>
                                            @Html.DisplayNameFor(model => model.CreatedUTCDate)
                                        </summary>
                                        <input type="date" id="created-date-datepicker" class="ticket-filter-form form-control form-control-sm">
                                    </details>
                                </th>
                                <th>
                                    <details onclick="makeSingleOnClickEvent()">
                                        <summary>
                                            @Html.DisplayNameFor(model => model.ActivatedUTCDate)
                                        </summary>
                                        <input type="date" id="activated-date-datepicker" class="ticket-filter-form form-control form-control-sm">
                                    </details>
                                </th>
                                <th>
                                    <details onclick="makeSingleOnClickEvent()">
                                        <summary>
                                            @Html.DisplayNameFor(model => model.ExpirationUTCDate)
                                        </summary>
                                        <input type="date" id="expiration-date-datepicker" class="ticket-filter-form form-control form-control-sm">
                                    </details>
                                </th>
                                <th>
                                    <details onclick="makeSingleOnClickEvent()">
                                        <summary>
                                            @Html.DisplayNameFor(model => model.UserName)
                                        </summary>
                                        <input type="text" id="user-name-input" class="ticket-filter-form form-control form-control-sm">
                                    </details>
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.TicketTypeName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedUTCDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ActivatedUTCDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.ExpirationUTCDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserName)
                                </th>
                                <th>
                                    Actions
                                </th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.ActionLink(item.TicketTypeName, "Details", "TicketType", new { id = item.TicketTypeId }, null)
                                        </td>
                                        <td>
                                            @item.CreatedUTCDate.ToString("yyyy-MM-dd hh:mm")
                                        </td>
                                        <td>
                                            @item.ActivatedUTCDate?.ToString("yyyy-MM-dd hh:mm")
                                        </td>
                                        <td>
                                            @item.ExpirationUTCDate?.ToString("yyyy-MM-dd hh:mm")
                                        </td>
                                        <td>
                                            @if (item.UserName != null)
                                            {
                                                @Html.ActionLink(item.UserName, "Details", "User", new { id = item.UserId }, null)
                                            }
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Page level plugins -->
<script src="/vendor/datatables/jquery.dataTables.min.js"></script>
<script src="/vendor/datatables/dataTables.bootstrap4.min.js"></script>

<!-- Page level custom scripts -->
<script src="~/js/data-table-tickets-filters.js"></script>
<script src="~/js/button-create-moves/button-create-move.js"></script>
