@model IEnumerable<DBContextLibrary.Domain.Entities.Ticket>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TicketTypeSortParm"]">@Html.DisplayNameFor(model => model.TicketType)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["CreatedSortParm"]">@Html.DisplayNameFor(model => model.CreatedUTCDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ActivatedSortParm"]">@Html.DisplayNameFor(model => model.ActivatedUTCDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["ExpirationSortParm"]">@Html.DisplayNameFor(model => model.ExpirationUTCDate)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["UserSortParm"]">@Html.DisplayNameFor(model => model.User)</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["TransactionSortParm"]">@Html.DisplayNameFor(model => model.TransactionHistory)</a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink(item.TicketType.TypeName, "Details", "TicketType", new { id = item.TicketTypeId}, null)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUTCDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActivatedUTCDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpirationUTCDate)
                </td>
                <td>
                    @if(item.User == null)
                    {
                        @Html.DisplayFor(modelItem => item.User.FirstName)
                    }
                    else
                    {
                        @Html.ActionLink(item.User.FirstName, "Details", "User", new { id = item.UserId }, null)
                    }
                </td>
                <td>
                    @Html.ActionLink(item.TransactionHistoryId.ToString(), "Details", "TransactionHistory", new { id = item.TransactionHistoryId }, null)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
